<footer class="footer mt-5">

  <div class="container py-4">

    <div class="row">

     
      <div class="col-md-4">
        <h5 class="fw-bold">🌍 Wanderlust</h5>
        <p class="text-muted">
          Discover amazing places around the world.
        </p>
      </div>

   
      <div class="col-md-4">
        <h6 class="fw-bold">Quick Links</h6>
        <ul class="list-unstyled">
          <li><a href="/listings">All Listings</a></li>
          <li><a href="/listings/new">Add Listing</a></li>
          <li><a href="/users/login">Login</a></li>
        </ul>
      </div>

      <div class="col-md-4">
        <h6 class="fw-bold">Follow Us</h6>

        <div class="social-icons">
          <i class="fab fa-facebook"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-twitter"></i>
        </div>

      </div>

    </div>

    <hr>

    <div class="text-center small">
      © 2026 Wanderlust • All rights reserved
    </div>

  </div>

</footer>